[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
ExecStart=/usr/local/bin/telegram-bot
WorkingDirectory=/usr/local/bin/
Restart=always
User=root

[Install]
WantedBy=multi-user.target